h1 {
	font-size: 32px;
	font-weight: 700;
	color: red;
}

.form {
	padding: 24px 40px;
	margin: 100px auto;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.formGroup {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
