// header {
// 	background-color: white;
// 	padding: 30px 0;
// 	img {
// 		display: inline-block;
// 		height: 32px;
// 	}
// 	nav {
// 		ul {
// 			li {
// 				display: inline-block;
// 				margin-right: 20px;
// 				a {
// 					color: #333;
// 					font-size: 16px;
// 					text-transform: capitalize;
// 					&:hover {
// 						color: #000;
// 						text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// .user-actions {
// 	.btn-header {
// 		padding: 6px;
// 		background-color: transparent;
// 	}
// 	i {
// 		font-size: 16px;
// 		color: #333;
// 		&:hover {
// 			color: #000;
// 			text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
// 		}
// 	}
// }

header {
	background-color: #00d9ff;
	height: 100px;
	border-bottom: 1px solid #000;
	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}
