* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	font-family: "Merriweather", serif;
}

.container {
	padding: 100px;
}

h1 {
	margin-bottom: 24px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 74px;
	font-family: "Poppins", serif;
}

.search {
	padding: 12px;
	display: inline-block;
}

ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style-type: none;
}

a {
	text-decoration: none;
	padding: 16px;
	font-size: 16px;
	color: #151b32;
	border-radius: 8px;
}
a:hover {
	background-color: #849fff;
	color: #fff;
}

input {
	padding: 12px 12px 12px 30px;
	border-radius: 4px;
	border: 1px solid #bfc8e5;
	width: 327px;
	max-width: 100%;
	display: inline-block;
}
.search {
	position: relative;
}

.icon-search {
	position: absolute;
	top: 55%;
	left: 16px;
	transform: translateY(-50%);
}

/* input::placeholder {
	color: red;
} */

.user-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 16px;
}

.user-item {
	border: 1px solid transparent;
	border-radius: 16px;
	padding: 24px;
	display: flex;
	gap: 16px;
	width: 327px;
	max-width: 100%;
	background-color: #fbfcff;
}

.user-item h2 {
	margin-top: 16px;
}

.user-item > img {
	display: inline-block;
	width: 97px;
	height: 97px;
	border-radius: 50%;
}

.user-item:hover {
	border: 1px solid #bfc8e5;
}

.tags {
	margin-top: 16px;
}

.tags > span {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #849fff;
	background-color: #fff;
	color: #849fff;
	border-radius: 10px;
	font-size: 12px;
	transition: all ease-in-out 0.3s;
}

span:hover {
	background-color: #849fff;
	color: #fff;
}
